:root {
  --cl-prim: #219ebc;
  --cl-sec: #023047;
  --cl-bg-1: #ffa600;
  --cl-hd-msg: rgb(0, 0, 0, 0.4);
  --font: "Comic Neue";
  --font-t: "Fredericka the Great";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: var(--font);
}

body {
  width: 100vw;
  height: 80vw;
  padding: 1vw;
  background: linear-gradient(-140deg, var(--cl-prim) 0%, var(--cl-sec) 100%);
  /*background-color: #4158d0;*/
  /*background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );*/
  overflow: hidden;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  margin: auto;
  width: 50vw;
  height: 30vw;
  display: grid;
  grid:
    "title title msg msg"
    "cont cont cont cont";
  border-radius: 15px;
  background: var(--cl-bg-1);
}

.title {
  font-size: 5vh;
  grid-area: title;
  font-family: var(--font-t);
  font-weight: 400;
}

.message {
  grid-area: msg;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  grid-area: cont;

  width: 100%;
  height: 41%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.card {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

img {
  transition: 300ms ease;
  border-radius: 20px;
}

img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

img:hover ~ .card__msg {
  opacity: 1;
}

.card__msg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 89%;
  height: 50%;
  background: var(--cl-hd-msg);
  pointer-events: none;
  opacity: 0;
  transition: 100ms ease-in-out;
  color: #fff;
  font-weight: bold;
}

#alert {
  position: fixed;
  padding: auto;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  height: 50px;
  background: transparent;
  color: #fff;
  align-items: center;
  opacity: 0;
  transition: 300ms ease-in-out;
}
span {
  outline: 1px solid blueviolet;
  background: #ffaaaf;
  display: inline-block;
}
i {
  display: block;
}
i:hover {
  pointer-events: none;
}
